.button
{
	background: $red;
	border: none;
	color: white;
	display: inline-block;
	text-align: center;
	font-weight: 400;
	font-size: $font-size-large;
	line-height: 1.3; // Text with this is not center!?!? Should always have one line
	padding: $s-size;
	text-decoration: none;
	width: 22rem;
	&:hover
	{
		background: none;
		color: $red;
		border: 1px solid red;
	}
}

.button--secondary
{
	@extend .button;
	background: $darker-red;
	margin-right: $s-size;
	margin-bottom: $s-size;
	@media (min-width: $desktop-breakpoint) 
	{
		margin-bottom: 0;
	}
	&:hover
	{
		background: none;
		border: 1px solid $darker-red;
		color: $darker-red;
	}
}

.button-small
{
	@extend .button;
	background: white;
	color: $dark-blue;
	font-size: $font-size-small;
	padding: $xs-size;
	width: 10rem;

	&:hover
	{
		background: none;
		border: 1px solid white;
		color: white;
	}
}

.button--reset
{
	@extend .button-small;
	background: $dark-blue;
	color: white;
	width: 75%;
	&:hover
	{
		color: $dark-blue;
		background: none;
		border: 1px solid $dark-blue;
	}
}

.button--back
{
	@extend .button-small;
	background-color: $dark-red;
	color: white;
	
	&:hover
	{
		border: 1px solid $dark-red;
		color: $dark-red;
	}
}

.button--email-signup
{
	@extend .button;
	background-color: $blue;
	&:hover
	{
		
	}
}

.button--google
{
	@extend .button;
	background: $blue;
	&:hover
	{
		
	}
}

.button--dropdown
{
	@extend .button;
	display: flex;
	justify-content: space-between;
	margin-bottom: 0!important;
	margin-top: $s-size;
	span
	{
		font-size: $font-size-xlarge;
	}
	>
	{
		display: flex;
		align-items: center;
	}
	&:hover
	{
		
	}
}

.button--nav
{
	@extend .button;
	margin-bottom: $s-size;
	&:hover
	{
		
	}
}

.button--nav-secondary
{
	@extend .button--nav;
	background-color: $dark-red;
	border: #c11e0a solid 5px;

	margin-bottom: 0!important;
	&:hover
	{
		
	}
}

.button-spacing
{
	width:20%;
}

.button-symbol
{
	font-size: $font-size-xxlarge;
	font-weight: 900;
}