.button
{
	background: $red;
	border: none;
	color: white;
	display: inline-block;
	text-align: center;
	font-weight: 400;
	font-size: $font-size-large;
	line-height: 1.3; // Text with this is not center!?!? Should always have one line
	padding: $s-size;
	text-decoration: none;
	width: 22rem;
}

.button--secondary
{
	@extend .button;
	background: $darker-red;
	margin-right: $s-size;
	margin-bottom: $s-size;
	@media (min-width: $desktop-breakpoint) 
	{
		margin-bottom: 0;
	}
}

.button--logout
{
	width: 10rem;
	padding: $xs-size;
}

.button--email
{
	@extend .button;
}

.button--google
{
	@extend .button;
	background: $blue;
}

.button--dropdown
{
	@extend .button;
	display: flex;
	justify-content: space-between;
	margin-bottom: 0!important;
	margin-top: $s-size;
	span
	{
		font-size: $font-size-xlarge;
	}
	>
	{
		display: flex;
		align-items: center;
	}
}

.button--nav
{
	@extend .button;
	margin-bottom: $s-size;
}

.button--nav-secondary
{
	@extend .button--nav;
	background-color: $dark-red;
	border: #c11e0a solid 5px;

	margin-bottom: 0!important;
}

.button-spacing
{
	width:20%;
}

.button-symbol
{
	font-size: $font-size-xxlarge;
	font-weight: 900;
}