.button
{
	background: $red;
	border: none;
	color: white;
	display: inline-block;
	font-weight: 400;
	font-size: $font-size-large;
	line-height: 1.3; // Text with this is not center!?!? Should always have one line
	padding: $s-size;
	text-decoration: none;
}

.button--secondary
{
	@extend .button;
	background: $dark-red;
}

.button--link
{
	background: none;
}

.button--nav
{
	margin-bottom: $s-size;
}