.form
{
	display: flex;
	flex-direction: column;
	> * // for all direct decendants and amountInDebt id
	{
		margin-bottom: $m-size ;
	}
}

.form__session
{
	@extend .form;
	div
	{
		margin-bottom: 0;
	}
	button
	{
		margin-top: $m-size;
		margin-bottom: $m-size;
	}
}

.form__session-header
{
	font-weight: 900;
}
.form__session-content
{
	display: flex;
	flex-direction: column;
	word-break: normal;
	> * // for all direct decendants and amountInDebt id
	{
		margin-bottom: $m-size;
	}
}

.form__session-item
{
	display: flex;
	flex-direction: row;
	margin-bottom: $s-size;
	word-break: normal;
}

.form__session-col-name
{
	width: 60%;
}
.form__session-col-checkbox-1
{
	width: 25%;
	text-align: center;
	align-items: center;
	margin-bottom: 0;
}
.form__session-col-checkbox-2
{
	@extend .form__session-col-checkbox-1;
	width: 15%;
}

.form__error
{
	margin: 0 0 $m-size 0;
	font-style: italic;
	color: $red;
}