.form
{
	display: flex;
	flex-direction: column;
	> *, #amountInDebt // for all direct decendants and amountInDebt id
	{
		margin-bottom: $m-size ;
	}
}

.form__error
{
	margin: 0 0 $m-size 0;
	font-style: italic;
}