.header
{
	background: $dark-blue;
}

.header__content
{
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: $s-size 0;
}

.header__nav
{
	justify-content: flex-start;
	flex-direction: column;
	.button
	{
		margin-right: $s-size;
	}

	@media (min-width: $desktop-breakpoint) 
	{
		flex-direction: row;
		// margin-bottom: $l-size;
	}
}

.header__title
{
	color: white;
	text-decoration: none;

	h1
	{
		margin: 0;
	}
}