.header
{
	background: $dark-blue;
}

.header__content
{
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: $s-size 0;
	width: 100%;
}

.header__content-center
{
	@extend .header__content;
	justify-content: center!important;
}

.header__title
{
	color: white;
	text-decoration: none;

	h1
	{
		margin: 0;
	}
}