.hamburger
{
	background: none;
	border: white 1px solid;
	color: white;
	font-size: $font-size-xxlarge;
	padding: $s-size $m-size;

	&:hover
	{
		background-color: white;
		color: $dark-blue;
	}
}

.header__nav
{
	justify-content: flex-start;
	flex-direction: column;
	.button
	{
		margin-bottom: $s-size;
	}

	@media (min-width: $desktop-breakpoint) 
	{
		flex-direction: row;
		justify-content: space-between;
	}
}

.dropdown-group
{
	display: flex;
	flex-direction: column;
}