.page-header
{
	background: $pale-yellow;
	margin-bottom: $l-size;
	padding: $l-size 0;
}

.page-header__content
{
	align-items: center;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
	flex-direction: column;
	@media (min-width: $small-screen-breakpoint) 
	{
		flex-direction: row;
	}
}

.page-header__content-column
{
	@extend .page-header__content;
	@media (min-width: $small-screen-breakpoint) 
	{
		flex-direction: column;
	}
}

.page-header__actions
{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;

	margin-top: $l-size;
	.button
	{
		margin-right: $s-size;
		margin-bottom: $s-size;
	}

	@media (min-width: $desktop-breakpoint) 
	{
		align-items: flex-end;
	}

	a
	{
		margin-right: $s-size;
	}
}

.page-header__title
{
	align-items: center;
	font-weight: 300;
	margin-bottom: $l-size;
	@media (min-width: $small-screen-breakpoint) 
	{
		margin-bottom: $m-size;
	}

	text-align: center;
}

.page-header__subtitle
{
	font-weight: 300;
}