/** 
 * IMPORTING SCSS FILES
 * 
 * Provide pass the partial using the SCSS @import syntax. It's totally different to a javascript import 
 * When importing a partial you leave off the underscore and the file extension
 */
@import './base/settings';
@import './base/base';
@import './components/box-layout';
@import './components/button';
@import './components/content-container';
@import './components/form';
@import './components/header';
@import './components/input-group';
@import './components/inputs';
@import './components/page-header';