// Place to define the theme for the app i.e. the default variables

// Colours 
$dark-grey: #333333;
$gray: #666;
$blue: #007bff;
$lighter-blue: #0196DB;
// $dark-blue: #364051;
$off-white: #f7f7f7;

// Colour Pallet 1
$dark-blue: #020122;
$red: #f4442e;
$orange: #fc9e4f;
$pale-orange: #edd382;
$pale-yellow: #f2f3ae;


// Font size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;